
#contact
{
    color:greenyellow;
}
#contact h1
{
    color:greenyellow;
}
#contact h2
{
    color: greenyellow;
}

#contact h3
{
    color:greenyellow;
}


.login-form{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.login-form{
    position: relative;
    z-index: 1;
    background-color: transparent;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}