body{
    background-image: url(bgimage.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
header{
    color:crimson;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style:none; 
}
ul li{
    float: left;
    width: 200px;
    height: 40px;
    opacity: 1;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color:crimson;
}
ui li a{
    text-decoration: none;
    color: white;
    display: block;
}
ui li a:hover {
    background-color: green;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px;
    background-color: transparent;
    text-align: center;
    color: aliceblue;
}