{% extends "template.html" %}

<!-- All about title on your page -->
{% block title %}

<!-- your content goes here -->

{% endblock %}


<!-- left side bar of the page -->

{% block left %}

<!-- your content goes here -->


{% endblock %}

<!-- middle side bar of the page -->
{% block middle %}

<!-- your content goes here -->


{% endblock %}

<!-- right side bar of the page-->
{% block right %}

<!-- your content goes here -->


{% endblock %}

<!-- footer side bar of the page-->
{% block footer %}

<!-- your content goes here -->


{% endblock %}
