<!DOCTYPE html>

<html>

<head>
    <title>Quiz</title>
    <link rel="shortcut icon" href="/static/images/grras.gif" />
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'>
</head>

<body>

    <div id='title_div'>
        <h1>Grras Solutions Pvt. Ltd., Jaipur (Rajashtan) </h1>
        <p>Quiz on Python</p>
    </div>

    <div id='left_div'>
        <h1>left content</h1>
    </div>
    <div id='middle_div'>
        <h1>middle page</h1>
    </div>

    <div id='right_div'>
        <h1>right content</h1>
    </div>

    <div id='footer_div'>
        <p>All Rights are reserved at Grras Solutions Pvt. Ltd, Jaipur</p>
    </div>

    
</body>
</html>