{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}" >
</head>
<ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#news">About</a></li>
        <li class="dropdown"><a href="javascript:void(0)"    class="dropbtn">Services</a>
        <div class="dropdown-content">
            <a href="#">Wedding</a>
            <a href="#">Bithday</a>
            <a href="#">Meetings</a>
        </div>
        <li><a href="{% url 'contact' %}">Contact us</a>
        <li><a href="{% url 'login' %}">Log in</a>
        </li>

    </ul>

<body>
<section id="about">
    <h1>About Us:</h1>

</section>

<footer>
            <p>&copy; Copyrigth by evemanagement.com</p>
        </footer>
</body>
</html>