{% load static %}
{% include "myapp/header.html" %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>change password</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

{% block header %}
{% endblock %}
<body>

<section style="color: ghostwhite;">
    <h1 style="color: ghostwhite"><marquee>Change Your Password</marquee></h1>
    <p style="color: ghostwhite">Enter Your New Pasword and OTP that is send to you on your <b><i>Authorised Mail Address</i></b></p>

<form action="/update_password/" method="post" style="color:ghostwhite;border: groove;">

    {% csrf_token %}

    {{ form.new_password }}
    <br />
    {{ form.OTP }}
    <br />

    <input type="submit" value="SUBMIT" style="color: #43A047"/>

</form>

</section>
{% block footer %}

{% endblock %}

</body>
</html>