{% load static %}
{% include 'myapp/header.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    </head>
{% block header %}
{% endblock %}
<body>

<section id="contact">
    <h1>Contact us on </h1>
    <table>
        <tr>
            <td><h3>Name:</h3></td>
            <td><h3>EveManagement Solutions</h3></td>
        </tr>
        <tr>
            <td><h3>Contact:</h3></td>
            <td><h3>1234567890</h3></td>

        </tr>
        <tr>
            <td><h3>email:</h3></td>
            <td><h3>evemanagement@gmail.com</h3></td>
        </tr>
    </table>

</section>

{% block footer %}
{% endblock %}

</body>
</html>