{% extends 'myapp/main.html' %}

{% block hheader %}
        <link rel="stylesheet" href="css/header.css">
{% endblock %}

{% block hbody %}
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">About</a></li>
        <li class="dropdown"><a href="javascript:void(0)"    class="dropbtn">Services</a>
        <div class="dropdown-content">
            <a href="#">Wedding</a>
            <a href="#">Bithday</a>
            <a href="#">Meetings</a>
        </div>
        <li><a href="#news">Contact us</a></li>
        
</ul>
{% endblock %}
