

{% block header %}

<ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li class="dropdown"><a href="javascript:void(0)"    class="dropbtn">Services</a>
        <div class="dropdown-content">
            <a href="#">Wedding</a>
            <a href="#">Bithday</a>
            <a href="#">Meetings</a>
        </div>
        <li><a href="{% url 'contact' %}">Contact us</a>
        <li><a href="{% url 'login' %}">Log in</a>
        </li>
        
    </ul>

{% endblock %}


{% block footer %}

 <footer>
     <p>&copy; Copyrigth by evemanagement.com</p>
 </footer>
{% endblock %}