<html>
    <head>
        <link rel="stylesheet" href="css/slider.css">
    </head>
    <body>
        <div class="slider">
            <figure>
                <div class="slide">
                    <img src="images/slider1.jpg" alt="birthday event" >
                </div>
                <div class="slide">
                    <img src="images/slider2.jpg" alt="marriage event">
                </div>
                <div class="slide">
                    <img src="images/slider3.jpg" alt="meeting event">
                </div>
                <div class="slide">
                    <img src="images/slider4.jpg" alt="concert event">
                </div>
                <div class="slide">
                    <img src="images/slider5.png" alt="party events">
                </div>
            </figure>
        </div>
    </body>
</html>