<!DOCTYPE html>
<html>
{% load static %}
<head lang="en">
    <meta charset="UTF-8">
    <title>Text Extractor</title>
     <link rel="stylesheet" href="{% static 'data/css/new.css' %}">
</head>

<body style=" background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;">


<h1 style="color: ghostwhite;">
    <center>
        Reset Your Password
</center>
</h1>
{% if error %}

     <h1 style="color: red">Error: {{ error }}</h1>
{% endif %}



<center>
<form  method="post" action="/reset/" style="font-size:xx-large;
background: rgba(19, 35, 47, 0.9);
padding: 40px;
max-width: 600px;
margin: 40px auto;
border-radius: 4px;
-webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
height: 230px;
width: 450px;
padding: 10px;" >

    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit"  style="border: 0;
  outline: none;
  border-radius: 1px;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;">
</form>
</center>

</body>
</html>