<!DOCTYPE html>
<html>
<head lang="en">
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={%  static  'myapp/main.css' %}>
    <title>HOME</title>
</head>
<body >
{% include 'myapp/head.html' %}
{% block header %}
{% endblock %}

<h1 >Welcome to First Template of Django</h1>
<h2 >It is super Easy </h2>
{% if error %}
<h1 style="color: red">{{ error }}</h1>

{% endif %}

{%  if msg %}
<h1>{{ msg }}</h1>
<p><b><i><a href="/logout/">LOGOUT?</a></i></b></p>
{% else %}
<center>
<form method="post" action="/change_password/">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="RESET">

</form>
</center>
{% endif %}
{% include 'myapp/foot.html' %}
{% block footer %}
{% endblock %}
</body>
</html>