body{
    background-image:url(bgimage.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.error
{
    color: #FFFFFF;
    font-size: large;
}
.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: static;
    z-index: 1;
    background-color: transparent;
    max-width: 360px;
    margin: 0 auto 90px;
    padding: 40px;
    text-align: center;
}
.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    
}
.form button:hover,.form button:active{
    background: #43A047;
}
.form .message{
    margin: 15px 0 0 ;
    color: aliceblue;
    font-size: 12px''
}
.form .message a{
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form{
    display: none;
}

